* {
	font-family: Roboto;
	color: white;
}

.loading {
	font-size: 70px;
	top: 40%;
	left: 40%;
	text-align: center;
	color: white;
	position: fixed;
	z-index: 101;
}

.pagecover {
	width: 100%;
	height: 100%;
	background-color: purple;
	z-index: 100;
}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	z-index: 98;
	background: url('crowdcropped.png') center center no-repeat fixed;
	background-size: cover;
}


/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

	.nav1 {
		margin-top: 275px;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
	}

	.nav2 {
		background-color: #5F1A7D;
		width: 100%;
		height: 5%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
	}

	.navtitle1 {
		text-align: center;
		font-size: 70px;
		font-weight: 700;
	    font-family: Trebuchet MS;
	    color: white;
	    margin: 0;
	    text-shadow: 0px 0px 20px #000000;
	}

	.navtitle2 {
		position: absolute;
		font-size: 40px;
		font-weight: 700;
	    font-family: Trebuchet MS;
	    color: white;
		margin: 0;
		padding-left: 5px;
		width: 400px;
	}



	.searchcontainer1 {
	    position: relative;
	    width: 400px;
	    height: 40px;
	    margin: 0 auto;
	    z-index: 99;
	}


}

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {

	.nav1 {
		margin-top: 200px;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
	}

	.nav2 {
		background-color: #5F1A7D;
		width: 100%;
		height: 5%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
	}

	.navtitle1 {
		text-align: center;
		font-size: 70px;
		font-weight: 700;
	    font-family: Trebuchet MS;
	    color: white;
	    margin: 0;
	    text-shadow: 0px 0px 20px #000000;
	}

	.navtitle2 {
		position: absolute;
		font-size: 40px;
		font-weight: 700;
	    font-family: Trebuchet MS;
	    color: white;
		margin: 0;
		padding-left: 5px;
		width: 400px;
	}



	.searchcontainer1 {
	    position: relative;
	    width: 400px;
	    height: 40px;
	    margin: 0 auto;
	    z-index: 99;
	}

	input {	
		position: absolute;
		background-color: rgba(0,0,0,0.6);
		border: 0;
		padding-left: 5px;
		display: inline-block;
		box-sizing: border-box;
		font-size: 30px;
		height: auto;
		border-radius: 5px;
	}

	.buttoncenter {
		position: relative;
	}

	.searchbutton {
		position: absolute;
		right: 0;
		height: 39px;
		width: 40px;
		text-align: center;
		background-color: rgba(0,0,0,0.6);
		border-radius: 5px;
		border: 0;
		font-size: 30px;
		font-family: Lato;
		color: rgba(254,254,254,0.7);
	}

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

	.nav1 {
		margin-top: 275px;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
	}
	

	.nav2 {
		background-color: #5F1A7D;
		width: 100%;
		height: 5%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
	}

	.navtitle1 {
		text-align: center;
		font-size: 70px;
		font-weight: 700;
	    font-family: Trebuchet MS;
	    color: white;
	    margin: 0;
	    text-shadow: 0px 0px 20px #000000;
	}

	.navtitle2 {
		position: absolute;
		font-size: 40px;
		font-weight: 700;
	    font-family: Trebuchet MS;
	    color: white;
		margin: 0;
		padding-left: 5px;
		width: 400px;
	}



	.searchcontainer1 {
	    position: relative;
	    width: 400px;
	    height: 40px;
	    margin: 0 auto;
	    z-index: 99;
	}

	input {	
		position: absolute;
		background-color: rgba(0,0,0,0.6);
		border: 0;
		padding-left: 5px;
		display: inline-block;
		box-sizing: border-box;
		font-size: 30px;
		height: auto;
		border-radius: 5px;
	}

	.buttoncenter {
		position: relative;
	}

	.searchbutton {
		position: absolute;
		right: 0;
		height: 39px;
		width: 40px;
		text-align: center;
		background-color: rgba(0,0,0,0.6);
		border-radius: 5px;
		border: 0;
		font-size: 30px;
		font-family: Lato;
		color: rgba(254,254,254,0.7);
	}


}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {



	.nav1 {
		margin-top: 275px;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
	}

	.nav2 {
		background-color: #5F1A7D;
		width: 100%;
		height: 3.6%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
	}

	.navtitle1 {
		text-align: center;
		font-size: 70px;
		font-weight: 700;
	    font-family: Trebuchet MS;
	    color: white;
	    margin: 0;
	    text-shadow: 0px 0px 20px #000000;
	}

	.navtitle2 {
		position: absolute;
		font-size: 40px;
		font-weight: 700;
	    font-family: Trebuchet MS;
	    color: white;
		margin: 0;
		padding-left: 5px;
		width: 400px;
	}



	.searchcontainer1 {
	    position: relative;
	    width: 600px;
	    height: 40px;
	    margin: 0 auto;
	    z-index: 99;
	}

	.searchcontainer2 {
	    position: absolute;
	    top: 0;
	    right: 0;
	    width: 400px;
	    height: 40px;
	    z-index: 99;
	    padding: 5px;
	}

	input {	
		position: absolute;
		background-color: rgba(0,0,0,0.6);
		border: 0;
		padding-left: 5px;
		display: inline-block;
		box-sizing: border-box;
		font-size: 30px;
		height: auto;
		width: 553px;
		border-radius: 5px;
	}

	.buttoncenter {
		position: relative;
	}

	.searchbutton {
		position: absolute;
		right: 0;
		height: 39px;
		width: 40px;
		text-align: center;
		background-color: rgba(0,0,0,0.6);
		border-radius: 5px;
		border: 0;
		font-size: 30px;
		font-family: Lato;
		color: rgba(254,254,254,0.7);
	}

}

/* Desktops, laptops, and large screens----------- */
@media only screen 
and (min-width : 1024px) {

	.nav1 {
		margin-top: 275px;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
	}

	.nav2 {
		background-color: #5F1A7D;
		width: 100%;
		height: 5%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
	}

	.navtitle1 {
		text-align: center;
		font-size: 70px;
		font-weight: 700;
	    font-family: Trebuchet MS;
	    color: white;
	    margin: 0;
	    text-shadow: 0px 0px 20px #000000;
	}

	.navtitle2 {
		position: absolute;
		font-size: 40px;
		font-weight: 700;
	    font-family: Trebuchet MS;
	    color: white;
		margin: 0;
		padding-left: 5px;
		width: 400px;
	}



	.searchcontainer1 {
	    position: relative;
	    width: 400px;
	    height: 40px;
	    margin: 0 auto;
	    z-index: 99;
	}
	
	.searchcontainer2 {
	    position: absolute;
	    top: 0;
	    right: 0;
	    width: 400px;
	    height: 40px;
	    z-index: 99;
	    padding: 5px;
	}
	
	input {	
		position: absolute;
		background-color: rgba(0,0,0,0.6);
		border: 0;
		padding-left: 5px;
		display: inline-block;
		box-sizing: border-box;
		font-size: 30px;
		height: auto;
		border-radius: 5px;
	}

	.buttoncenter {
		position: relative;
	}

	.searchbutton {
		position: absolute;
		right: 0;
		height: 39px;
		width: 40px;
		text-align: center;
		background-color: rgba(0,0,0,0.6);
		border-radius: 5px;
		border: 0;
		font-size: 30px;
		font-family: Lato;
		color: rgba(254,254,254,0.7);
	}


}















.spelling {
	font-size: 20px;
	font-weight: bold;
	color: red;
	position: relative;
	top: 45px;
	left: 2px;
	z-index: 400;
	text-shadow: 0px 0px 10px #000000;
	margin-top: 0;
}


#results {
	margin-top: 120px;
}

#upcoming {
	margin-left: 3%;
	text-shadow: 0px 0px 20px #000000;
}


#eventlist {
	border-width: 5px;
	margin: 0 5%;
	background-color: rgba(116, 40, 128, 0.6);
	box-sizing: border-box;
	border-radius: 5px;
	/* padding: 5px; */
}

.eventitem {
	padding-bottom: 20px;
}

.month {
	font-size: 42px;
    font-weight: 700;
    font-family: Trebuchet MS;
    padding-left: 10px;
}

.mapbutton {
	border: 0;
	border-radius: 5px;
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	height: 30px;
	width: 90px;
	font-size: 16px;
	display: inline-block;
}

.tixbutton {
	border: 0;
	border-radius: 5px;
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	height: 30px;
	width: 90px;
	font-size: 16px;
	display: inline-block;
	margin-left: 5px;
}

.venue, .artists {
	font-size: 28px;
}

#map {
	height: 400px;
    width: 100%;
    position: absolute;
}

#mapcontainer {
    height: 400px;
    width: 100%;
    position: relative;
    margin-top: 10px;
}

#noresults {
	color: red;
	font-size: 24px;
	position: relative;
	top: 50px;
	left: 2px;
}

.loading {
	color: white;
}

.hidden {
	display: none;
}

.artists {
	margin-left: 30px;
}

.artists, .date, .address {
	margin-top: 0;
	margin-bottom: 0;
}

.date, .address, .mapbutton {
	margin-left: 40px;
}

.address {
	margin-bottom: 5px;
}

.powered {
	width:100%; 
	text-align: center;
	position: absolute;
	bottom: 0;
	/*margin-bottom: 10px;*/

}