* {
	font-family: Roboto;
	color: white;
}

.loading {
	font-size: 70px;
	top: 40%;
	left: 40%;
	text-align: center;
	color: white;
	position: fixed;
	z-index: 101;
}

.pagecover {
	width: 100%;
	height: 100%;
	background-color: purple;
	z-index: 100;
}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	z-index: 98;
}

.backgroundimg {
	background: url('crowdcropped.png') center center no-repeat;
	filter: blur(5px);
	margin: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	position: fixed;
	border: 0;
	background-size: cover;
}

nav {
	background-color: #5F1A7D;
	width: 100%;
	height: 5%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}

#navtitle {
	display: inline-block;
	position: fixed;
	font-size: 40px;
	font-weight: 700;
    font-family: Trebuchet MS;
}

.titlepage {
	padding-top: 15%;
}

#title {
	font-size: 70px;
	text-align: center;
	color: white;
	font-weight: 700;
    font-family: Trebuchet MS;
}



.searchcontainer {
    position: relative;
    width: 500px;
    height: 40px;
    margin: 0 auto;
    z-index: 99;
}

.searchcontainernav {
	position: fixed;
	top: 0;
	right: 0;
	margin-right: 10px;
	margin-top: 4px;
	width: 300px;
	height: 40px;
	z-index: 99;
}

input {	
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	border: 0;
	padding: 0px 5px;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-size: 30px;
}

.buttoncenter {
	/* margin-top: 50px; */
	text-align: center;
}

.searchbuttons {
	height: 40px;
	width: 200px;
	margin-top: 50px;
	background-color: rgba(116, 40, 128, 0.8);
	border-radius: 5px;
	border: 0;
	font-size: 20px;
}

.spelling {
	font-size: 15px;
	color: red;
	position: relative;
	top: 42px;
	left: 2px;
}


#results {
	margin-top: 120px;
}

#upcoming {
	margin-left: 3%;
	text-shadow: 0px 0px 20px #000000;
}


p {
	margin: 0;
}
#eventlist {
	border-width: 5px;
	margin: 0 5%;
	background-color: rgba(116, 40, 128, 0.6);
	box-sizing: border-box;
	border-radius: 5px;
	/* padding: 5px; */
}

.eventitem {
	padding-bottom: 20px;
}

.month {
	font-size: 42px;
    font-weight: 700;
    font-family: Trebuchet MS;
    padding-left: 10px;
}

.mapbutton {
	border: 0;
	border-radius: 5px;
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	height: 30px;
	width: 90px;
	font-size: 16px;
	display: inline-block;
}

.tixbutton {
	border: 0;
	border-radius: 5px;
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	height: 30px;
	width: 90px;
	font-size: 16px;
	display: inline-block;
	margin-left: 5px;
}

.venue, .artists {
	font-size: 28px;
}

#map {
	height: 400px;
    width: 100%;
    position: absolute;
}

#mapcontainer {
    height: 400px;
    width: 100%;
    position: relative;
    margin-top: 10px;
}

#noresults {
	color: red;
	font-size: 24px;
	position: relative;
	top: 50px;
	left: 2px;
}

.loading {
	color: white;
}

.hidden {
	display: none;
}

.artists, .date, .address, .mapbutton {
	margin-left: 30px;
}

.powered {
	position: relative; 
	width:100%; 
	text-align: center;
	margin-bottom: 10px;
	margin-top: 40px;
}